<section>
  <div class="container-fluid">
    <div class="row">
      <div class"col-sm-12">
        <div class="heading-container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Create Presentation</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../navbar/">Default</a></li>
              <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <form name="form" ng-submit="form.$valid && vm.createPoll()" novalidate>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Presentation Name <span class="required">*</span></label>
            <input type="text" class="form-control" name="presName" id="presName" placeholder="Week 4 Presentation" ng-model="vm.presentation.name" required />
          </div>
        </div>
      </div>

      <div class="poll-wrapper" ng-repeat="poll in polls track by $index">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Question <span class="required">*</span></label>
              <input type="text" class="form-control" name="presName" id="presName" placeholder="Who won the 2014 World Cup?" ng-model="poll.question" required />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <label>Question Type <span class="required">*</span></label>
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="qType in vm.questionTypes">
                <div class="question-type-container text-center" ng-class="{'question-type-selected': polls[$parent.$index].questionType == qType}" ng-click="clickQType($parent.$index, qType)">
                  <span><i class="fa fa-bar-chart" /></span>
                  <h5>{{qType}}</h5>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <label>Chart Type <span class="required">*</span></label>
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="cType in vm.possbileTypes[polls[$index].questionType]">
                <div class="question-type-container text-center" ng-class="{'question-type-selected': polls[$parent.$index].chartType == cType}" ng-click="clickCType($parent.$index, cType)">
                  <span><i class="fa fa-bar-chart" /></span>
                  <h5>{{cType}}</h5>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row" ng-show="polls[$index].questionType != 'Open'">
          <div class="col-sm-12 col-md-8">
            <div class="form-group response-input-container">
              <label>Responses <span class="required">*</span></label>
              <input type="text" class="form-control" placeholder="Response" ng-repeat="choice in poll.choices track by $index" ng-model="poll.choices[$index]" ng-required="polls[$parent.$index].questionType != 'Open'" />
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
            <button class="btn btn-primary response-add-button" ng-click="poll.choices.push('')">Add Response</button>
          </div>
        </div>

      </div>

      <span>
        <button type="button" name="button" ng-click="vm.addEmptyPoll()">Add Poll</button>
        <button type="submit" name="button">Create Presentation</button>
      </span>

    </form>

  </div>
</section>

<!-- <section class="container-wrapper presentation-container">
<div class="container">
<div class="row">
<div class="col-lg-8 col-lg-offset-2">
<h3>Create Presentation</h3>

<div class="form-group">
<label>Presentation Name:</label>
<input type="text" class="form-control" id="name" placeholder="Presentation Name" ng-model="vm.name">
</div>

<div class="row" ng-repeat="p in vm.polls">

<div class="polls-wrapper">
<div class="poll">

<div class="row">
<div class="col-lg-4">
<div class="form-group">
<label>Question:</label><br />
<label>The question that you would like to ask the audience.</label>
</div>
</div>

<div class="col-lg-8">
<div class="form-group">
<input type="text" class="form-control" id="pollQuestion" placeholder="Question to ask" ng-model="p.question">
</div>
</div>
</div>

<div class="row">
<div class="col-lg-4">
<div class="form-group">
<label>Available Answers:</label><br />
<label>The responses to be shown to the user to choose from.</label>
</div>
</div>

<div class="col-lg-8">
<div class="form-group">
<input type="text" class="form-control" placeholder="Response" ng-repeat="answer in p.answers track by $index" ng-model="p.answers[$index]">
</div>
<button type="button" ng-click="p.answers.push('')" class="btn btn-primary text-center">Add Answer</button>
</div>
</div>

<div class="row">
<div class="col-lg-4">
<div class="form-group">
<label>Question Type:</label><br />
<label>The type of question to ask the audience.</label>
</div>
</div>

<div class="col-lg-8">
<div class="form-group">
<div class="checkbox" ng-repeat="qType in vm.questionTypes">
<label><input type="checkbox" ng-model="p.questionType" value="">{{qType}}</label>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-4">
<div class="form-group">
<label>Chart Type:</label><br />
<label>The type of chart to display the responses of the audience.</label>
</div>
</div>

<div class="col-lg-8">
<div class="form-group">
<div class="checkbox" ng-repeat="cType in vm.chartTypes">
<label><input type="checkbox" ng-model="p.chartType" value="">{{cType}}</label>
</div>
</div>
</div>
</div>

</div>

</div>
</div>

<div class="row">
<div class="col-lg-12">
<button type="button" ng-click="vm.onAddNewPollButtonClicked()" class="btn btn-primary text-center">Add Poll</button>
<button type="button" ng-click="vm.onCreateButtonClicked()" class="btn btn-primary text-center">Create Presentation</button>
</div>
</div>

</div>
</div>
</div>
</section> -->
