.navbar {
  background-color: #3F51B5;
  border-radius: 0;
}

.navbar .navbar-brand {
  color: white;
}

.navbar .navbar-brand:hover {
  color: #FF5722;
}

.navbar .navbar-links li a {
  color: white;
  cursor: pointer;
}

.navButton {
}

.navbar .navbar-links > li .register {
  background-color: #FF5722;
  padding: 15px 20px;
  border-radius: 0;
}

.navbar .navbar-links > li .signIn {

}

.navbar .navbar-links > li .logout {

}

/*.navbar {
  background-color: #303F9F;
}

.navbar-header a {
  color: white;
}

.navbar-links {
  margin-right: 0;
}

.navbar-links li {
  display: inline-block;
}

.navbar-links a {
  padding: 15px;
  min-height: 50px;
  color: white;
}

.navbar-links a:last-child {
  margin-right: 15px;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu li:last-child {
  margin-right: 0;
}

.dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;

}

.dropdown-menu li a div {
  white-space: normal;
}*/
