<section class="room-detail-container">

  <div class="container">
    <div class="row room-detail-full">
      <div class="col-sm-12 col-lg-8 col-lg-offset-2">
        <div class="title-header">
          <h2>Presentations</h2>
        </div>

        <div class="card" ng-repeat="pres in vm.presentations">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-2">
                  <div class="block"></div>
                </div>

                <div class="col-sm-7">
                  <a ui-sref="presentation.poll ({ presID: pres.$id, pollNum: 0 })">{{pres.name}}</a>
                </div>

                <div class="col-sm-3">
                  <ul class="list-inline">
                    <li><a href=""><i class="fa fa-pencil-square-o"></i></a><li>
                    <li><a href=""><i class="fa fa-pencil-square-o"></i></a><li>
                    <li><a href=""><i class="fa fa-pencil-square-o"></i></a><li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- <div class="container">

  <div class="jumbotron text-center">
    <h1>The Room Detail Page</h1>
    <p>This page demonstrates <span class="text-danger">multiple</span> and <span class="text-danger">named</span> views.</p>
    <a ui-sref="room.presentationcreate({ roomID: vm.roomID})"><button>Create Presentation</button></a>
  </div>

  <div class="row">

    <div class="col-xs-12">
      <div class="card-container">
        <div class="card-heading">
          <div class="row">

            <div class="col-xs-9">
              <h2>Presentations</h2>
            </div>

            <div class="col-xs-3">
              <ul class="list-inline text-right">
                <li>
                  <a href=""><i class="fa fa-pencil-square-o"></i></a>
                  <a href=""><i class="fa fa-pencil-square-o"></i></a>
                  <a href=""><i class="fa fa-pencil-square-o"></i></a>
                </li>
              </ul>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">

            <div class="card-content-container">

              <div class="row" ng-repeat="pres in vm.presentations">
                <div class="col-xs-9">
                  <a ui-sref="presentation.poll ({ presID: pres.$id, pollNum: 0 })">{{pres.name}}</a>
                </div>

                <div class="col-xs-3">
                  <ul class="list-inline text-right">
                    <li>
                      <a href=""><i class="fa fa-pencil-square-o"></i></a>
                      <a href=""><i class="fa fa-pencil-square-o"></i></a>
                      <a href=""><i class="fa fa-pencil-square-o"></i></a>
                    </li>
                  </ul>
                </div>

              </div>

              <!-- <ul class="list-group">
              <li class="list-group-item" ng-repeat="pres in vm.presentations">
              <a ui-sref="presentation.poll ({ presID: pres.$id, pollNum: 0 })">{{pres.name}}</a>
            </li>
          </ul> -->
        </div>
      </div>

    </div>
  </div>

</div>
</div>
</div>
</div> -->
