<section>
  <div class="container">

    <div class="row">
      <div class="col-sm-12">

        <div class="row">
          <div class="col-sm-8">
            <div class="title-container">
              <h2><i class="fa fa-users title-icon"/>Presentations</h2>
            </div>
          </div>

          <div class="col-sm-4">
            <button ng-show="creator" class="btn btn-primary roomButton" ng-click="vm.addPresentation()">
              <span>
                <i class="fa fa-plus"></i>
                <span>Add Presentation</span>
              </span>
            </button>

          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Polls</th>
              <th>Date Created</th>
              <th ng-show="creator">Published</th>
              <th ng-show="creator"></th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="pres in vm.presentations" ng-click="vm.navigateToPresentation(pres)">
              <th>{{pres.name}}</th>
              <th>{{pres.numPolls}}</th>
              <th>{{pres.dateCreated | date: 'dd-MM-yyyy'}}</th>
              <th ng-show="creator">Yes</th>
              <th ng-show="creator">
                <ul class="list-inline">
                  <li ng-click=""><a><i class="fa fa-wrench"></i></a><li>
                  <li ng-click=""><a><i class="fa fa-pencil-square-o"></i></a><li>
                  <li ng-click=""><a><i class="fa fa-trash-o"></i></a><li>
                </ul>
              </th>
            </tr>

          </tbody>

        </table>
      </div>
    </div>

  </div>
</section>
