<section class="container-wrapper auth-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
          <div class="form-wrapper">
            <h2 ng-show="vm.type === 'login'">Sign In</h2>
            <h2 ng-show="vm.type === 'register'">Sign Up</h2>
            <form class="form">
              <input type="text" placeholder="Email Address" ng-model="email"/>
              <input type="password" placeholder="Password" ng-model="password"/>
              <button ng-show="vm.type === 'login'" ng-click="vm.login()">Login</button>
              <button ng-show="vm.type === 'register'" ng-click="vm.register()">Sign Up</button>
              <p ng-show="vm.type === 'register'" class="message">Already registered? <a sui-ref="login">Sign In</a></p>
              <p ng-show="vm.type === 'login'" class="message">Don't have an account? <a sui-ref="register">Sign Up</a></p>
            </form>
          </div>
        </div>
    </div>
  </div>
</section>
