<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="row">
          <div class="col-sm-8">
            <div class="title-container">
              <h2><i class="fa fa-comment title-icon"/>{{vm.moduleName}} Real-Time Chat</h2>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul class="chatbox-list">
          <li ng-click="vm.showDialog(msg)" class="card" ng-repeat="msg in messages | reverse"><p class="chat-message">{{msg.message}}</p><time time="msg.date"></time></li>
        </ul>
      </div>
    </div>

  </div>
</section>
