html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F00000;
}

a:hover, a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.block {
  width: 40px;
  height: 40px;
  background-color: #F00000;
  border-radius: 40px;
}

.card {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  transition: all .5s;
  oveflow: hidden;
  background-color: #FFFFFF;
  padding: 25px;
  margin: 20px 0;
}

.card:hover {
  box-shadow: 0 8px 8px rgba(0,0,0,.25);
  margin: 2px;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  color: #39393D;
  background-color: #F9F9F9;
  padding: 50px;
}

header .header-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
}

header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
}

header .image-container {
  max-width: 300px;
  margin: 0 auto 30px;
}

header .image-container .image img {
  border-radius: 3px;
}

.info-container {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  color: #FFFFFF;
  background-color: #404040;
  padding: 50px;
}

.info-container .info-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
}

.info-container .info-content .info-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  margin-top: -25px;
}

.info-container .info-content .info-content-inner h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
}

.image-container {
  max-width: 300px;
  margin: 0 auto 30px;
}

.image-container .image img {
  border-radius: 3px;
}

.info-content-choice ul li {
  margin: 0 25px;
}

.info-content-choice ul li a {
  font-size: 19px;
  color: #fdcc52;
}

.info-content-infomration {

}

.info-content-information-inner {
  padding-bottom: 5px;
}

.info-content-information-inner:first-child {
  padding-top: 5px;
}

.info-content-information-inner h3 {
  font-size: 16px;
}

.info-content-information-inner p {
  font-size: 14px;
}

.room-list-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background-color: #F9F9F9;
  padding: 65px 50px 50px 50px;
}

.room-list-container a {
  color: #000000;
  font-size: 16px;
}

.room-list-full {
  padding-top: 40px;
}

.room-list-full .title-header {
  padding-bottom: 5px;
}

.room-detail-container {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background-color: #F9F9F9;
  padding: 65px 50px 50px 50px;
}

.room-detail-full {
  padding-top: 40px;
}

.room-detail-full .title-header {
  padding-bottom: 5px;
}

.presentation-container {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background-color: #F9F9F9;
  padding: 65px 50px 50px 50px;
}
