/**
colors
primary: #3F51B5
primary dark: #303F9F
accent: #FF5722

*/

body {
  width: 100%;
  height: 100%;
  background-color: #F4F6F9;
  font-family: "Roboto", sans-serif;
}

*:focus {
  outline: none;
}

canvas.chart.chart-pie {
  width: 100% !important;
  max-width: 600px;
  height: auto !important;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.open-form-modal {
  padding: 20px;
}

.open-form-modal p {
  font-size: 22px;
}

.chat-form {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.chat-form input {
  width: 70vw;
}

#wrapper {
    padding-left: 0;
    display:block;
    overflow:auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 100px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 100px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -100px;
}

.heading-container {
  border-bottom: 1px solid #F1F0F0;
}

.required {
  color: red;
  margin-top: 5px;
}

.title-container {
}

.title-container .title-icon {
  font-size: 18px;
  padding: 15px 10px;
}

.roomButton {
  margin-top: 20px;
  margin-bottom: 10px;
}

.card {
  margin: 20px 0;
  background-color: white;
  overflow: hidden;;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card-padding {
  padding: 35px;
}

.card .card-title-container {
  padding: 15px 0;
  background-color: #FF5722;
  color: white;
}

.card-title-container .title-icon {
  padding-right: 5px
}

.pres-title-input {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul li a i {
  padding: 7px;
}

.input-container {
  padding: 7px;
}

.input {
  background-color: #f4f6f7;
  border: 1px solid #f2f2f2;
  border-radius: 0;
  padding: 15px;
}

.submit-button::before {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -11px;
  width: 20px;
  height: 20px;
  border: 4px solid;
  border-left-color: transparent;
  border-radius: 50%;
}

.submit-button::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0px;
}

.question-type-container {
  padding: 25px;
  margin: 15px 0;
  border: 1px solid black;
  border-radius: 0;
}

.question-type-container:hover {
  background-color: #C2c2c2;
}

.question-type-selected {
  background-color: #C2c2c2;
}

.question-type-container i {
  font-size: 30px;
}

.question-type-container h5 {
  font-size: 20px;
}

.response-add-button {
  margin-top: 35px;
}

.response-input-container input {
  margin: 10px 0;
}

.chat-wrapper {

}

.chat-wrapper .chat-list {

}

.chat-list .chat-list-item {
  margin: 20px 0;
  background-color: white;
  overflow: hidden;;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.chat-list-item p {

}

.chat-list-item time {
  float: left;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 30px;
  display: inline-block;
  background-color: #FF5722;
  text-align: center;
  vertical-align: middle;
}

.circle:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.circle a {
  color: white;
  font-size: 1.5em;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.open-msg {
  float: left;
}

.prev-next-button {
  position: fixed;
  top: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  transform: translateY(-50%);
}

.previous { left: 135px; }
.next { right: 10px; }

.prev-next-button svg {
  position: fixed;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.arrow { fill: #333; }

.response-card:hover {
  background-color: #CCCCCC !important;
}

.responded {
  background-color: #CCCCCC !important;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 100px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
