<section class="container-wrapper presentation-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="poll-question">
          <h2 class="text-center">{{vm.polls[vm.pollNum].question}}</h2>
        </div>


        <canvas ng-show="chartOptions[vm.polls[vm.pollNum].$id].type === 'bar' "id="vm.polls[vm.pollNum].$id" class="chart chart-bar" chart-data="responses[vm.polls[vm.pollNum].$id]" chart-labels="vm.polls[vm.pollNum].answers" chart-options="chartOptions[vm.polls[vm.pollNum].$id]"></canvas>
        <canvas ng-show="chartOptions[vm.polls[vm.pollNum].$id].type === 'pie' "id="vm.polls[vm.pollNum].$id" class="chart chart-bar" chart-data="responses[vm.polls[vm.pollNum].$id]" chart-labels="vm.polls[vm.pollNum].answers"></canvas>
        <canvas ng-show="chartOptions[vm.polls[vm.pollNum].$id].type === 'polar-area' "id="vm.polls[vm.pollNum].$id" class="chart chart-bar" chart-data="responses[vm.polls[vm.pollNum].$id]" chart-labels="vm.polls[vm.pollNum].answers"></canvas>


        <a a ng-click="vm.previousPoll()" ui-sref="presentation.poll({ presID: vm.presKey, pollNum: vm.pollNum})"><button ng-show="vm.pollNum > 0" id="prev">Previous Poll</button></a>
        <a ng-click="vm.nextPoll()" ui-sref="presentation.poll({ presID: vm.presKey, pollNum: vm.pollNum})"><button ng-show="vm.pollNum < vm.polls.length -1" id="next">Next Poll</button></a>
      </div>
    </div>
  </div>
</section>
