<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title" id="exampleModalLabel">Enroll on Module</h5>
  </div>
  <div class="modal-body">
    <form>
      <input type="text" class="form-control" ng-model="moduleCode" placeholder="Module Code" autofocus>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" ng-click="vm.enroll(moduleCode)">Enroll</button>
  </div>
</div>
