
<div class="container">

  <div class="jumbotron text-center">
      <h1>The Room List Page</h1>
      <p>This page demonstrates <span class="text-danger">multiple</span> and <span class="text-danger">named</span> views.</p>
      <a ui-sref="room.create()"><button>Create Room</button></a>
  </div>

  <div class="created-rooms">
    <h3>User Created Rooms</h3>
    <a ui-sref="room.detail({ roomID: room.$id })" ng-repeat="room in roomList.createdRooms">{{room.name}}</a>
  </div>

  <div class="enrolled-rooms">
    <h3>User Enrolled Rooms</h3>
    <a ui-sref="room.detail({ roomID: room.$id })" ng-repeat="room in roomList.enrolledRooms">{{room.name}}</a>
  </div>

</div>
