<div class="row">
  <div class="col-lg-12 room-create-wrapper">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Room Details</h4>
      </div>

      <div class="panel-body">
        <form class="" name="roomForm">

        <div clas="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Room Name" ng-model="roomCreate.roomName">
            </div>

            <div class="form-group">
              <label>Room Code:</label>
              <input type="text" class="form-control" id="code" placeholder="Room Code" ng-model="roomCreate.roomCode">
            </div>

            <div class="form-group">
              <label>Another Detail:</label>
              <input type="text" class="form-control" id="" placeholder="Another Detail">
            </div>

          </div>

          <div class="col-lg-6">
            <div class="form-group room-create-student-list-wrapper">
              <label for="userList">User List:</label>
              <textarea class="form-control studentListTextArea" placeholder="Seperate Users emails using ;" id="userList" ng-model="roomCreate.userList"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <button type="button" ng-click="roomCreate.onCreateButtonClicked()" class="btn btn-primary">Create Room</button>
          </div>
        </div>

        </form>
      </div>

    </div>
  </div>
</div>
