<section>
  <div class="container">

    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
        <div class="card">
          <div class="row">
            <div class="col-sm-12 card-title-container">
              <h2 ng-show="creation" class="text-center"><i class="fa fa-user-plus title-icon"/>Add Module</h2>
              <h2 ng-show="!creation" class="text-center"><i class="fa fa-user-plus title-icon"/>Update Module</h2>
            </div>
          </div>

          <div class="card-padding">
            <form name="form" novalidate ng-submit="form.$valid && vm.onSubmitButtonClicked()">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group input-container">
                    <label for="name">Name:</label>
                    <input class="form-control input" type="text" id="name" name="name" ng-model="name" placeholder="Module Name" required />
                    <p class="required" ng-show="form.name.$error.required">* Required</span>
                  </div>

                  <div class="form-group input-container">
                    <label for="code">Code:</label>
                    <input class="form-control input" type="text" name="code" id="code" ng-model="code" placeholder="Module Code" required />
                    <p class="required" ng-show="form.code.$error.required">* Required</span>
                  </div>

                  <div class="form-group input-container">
                    <label for="studentList">Student List:</label>
                    <textarea class="form-control input" placeholder="E.g. arnie@email.com&#10;gerry@email.com&#10etc."type="text" name="studentList" id="studentList" ng-model="studentList" />
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <button ng-show="creation" type="submit" class="btn btn-primary center-block submit-button">Create</button>
                  <button ng-show="!creation" type="submit" class="btn btn-primary center-block submit-button">Update</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
